/* DEFINE AS CORES PRÉ-DEFINIDAS COM VARIÁVEIS */
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #00a2ff;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* RESETA A PÁGINA */
* {
    margin: 0;
    padding: 0;
}

.principal {
    /* background-image é usado para decoração, pois seu contexto não muda a leitura da página */
    background-image: url("img/Background.jpg");
    /* PARA NÃO REPETIR A IMAGEM (REFLEXO) */
    background-repeat: no-repeat;
    /* ALTERA O TAMANHO CONFORME A CLASSE .container */
    background-size: contain;
    /* Centraliza dentro da coluna da grid */
    align-items: center;
}

.container {
    /* vh SIGNIFICA /viewport height QUE SERIA A ALTURA DA TELA DO DISPOSITIVO */
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    /* Centraliza o título */
    text-align: center;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

/* Estiliza o botao */
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    /* Centraliza todos os elementos dentro do secundário */
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    /* font-weight: 400;
    font-size: 16px; */
    color: var(--cinza-secundario);
}

.secundario__botao {
    /* Diminui o tamanho lateral do botao */
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    /* Tira o "ponto" da lista */
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    /* Espaçamento das margens para o lado esquerdo e direito */
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    /* Espaçamento entre item */
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

/* mobile */
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vh;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vh;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
}